p{ 
    border-style: solid; 
    border-width: 2px; 
    border-color: black;   
} 
.vertical-line {
  border-left: 6px black;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0; 
}
.side-button{
    color:white;
    width: 150px; 
    height: 35px; 
    border-radius: 12px !important;
    border-color:lightblue;
    box-shadow:0 0;
    margin-left:20px;
}

body {
    background-color:rgb(39, 31, 90);
}
button {
    background-color:rgb(86, 82, 112) !important;
}
.title {
    color:white;

    background-color:rgb(39, 31, 90);
    margin: 0 ;
    margin-left: 0px !important;
}
